In [28]:
import pandas as pd
from sklearn import svm
from sklearn import preprocessing

In [12]:
df = pd.read_csv('data.csv')

In [13]:
status_df = pd.get_dummies(df.status)

In [8]:
sum(df.location.isnull())

0

In [9]:
pd.get_dummies(df.location)

,Adambakam,Adyar,Agaramthen,Alandur,Alwarpet,Ambattur,Ambattur INDUSTRIAL ESTATE,Aminjikarai,Anakaputhur,Anna Nagar,...,Vengaivasal,Vengambakkam,Veppampatttu,Veppampattu,Villivakkam,Virugambakkam,Washermanpet,West Mambalam,West Tambaram,tambaram west
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2615,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2617,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2618,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2619,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [15]:
df = pd.concat([df,status_df],axis='columns')

In [20]:
df = df.drop(['status'],axis='columns')

In [21]:
df

,price,area,bhk,bathroom,age,location,builder,Ready to move,Under Construction
0,37.49,872,2,NaN,1.0,Sembakkam,MP Developers,1,0
1,93.54,1346,3,2.0,NaN,Selaiyur,DAC Promoters,0,1
2,151.00,2225,3,NaN,0.0,Mogappair,Casagrand Builder Private Limited,0,1
3,49.00,1028,2,2.0,3.0,Ambattur,Dugar Housing Builders,1,0
4,42.28,588,2,1.0,0.0,Pallavaram,Radiance Realty Developers India Ltd,0,1
...,...,...,...,...,...,...,...,...,...
2615,27.50,750,2,2.0,3.0,Veppampattu,Velan Housing Properties,1,0
2616,27.50,750,2,2.0,3.0,Veppampattu,Velan Housing Properties,1,0
2617,30.00,800,2,2.0,3.0,Veppampattu,Velan Housing Properties,1,0
2618,31.50,850,2,2.0,3.0,Veppampattu,Velan Housing Properties,1,0
2619,34.00,900,2,2.0,3.0,Veppampattu,Velan Housing Properties,1,0

In [24]:
regr = svm.SVR(kernel = 'linear', C = 1.0)
regr.fit(df[['area','bhk','Ready to move','Under Construction']], df.price)

SVR(kernel='linear')

In [25]:
regr.score(df[['area','bhk','Ready to move','Under Construction']], df.price)

0.579673697791505

In [27]:
regr2 = svm.SVR(kernel = 'linear', C = 1.0)
regr2.fit(df[['area','bhk','Ready to move']], df.price)
regr2.score(df[['area','bhk','Ready to move']], df.price)

0.5796291244654647